<h2>Bebidas do estabelecimento:</h2>

<% if @beverages.any? %>
  <% @beverages.each do |beverage| %>
    <dl>
        <dt>Nome:</dt>
        <dd><%= link_to beverage.name, beverage %></dd>
        <p><%= beverage.calories %> kcal</p>
        <p><%= beverage.is_alcoholic %> kcal</p>
        <p><%= Beverage.human_attribute_name(:status) %>: <%= I18n.translate(beverage.status) %></p>
    </dl>
  <% end %>
<% else %>
  <p>Ainda não há Bebidas cadastradas...</p>
<% end %>