<h2>Detalhes da Bebida: <%= @beverage.name %></h2>
<dl>
    <dt>Descrição:</dt>
    <dd><%= @beverage.description %></dd>
    <dt><%= Beverage.human_attribute_name(:is_alcoholic) %>?</dt>
    <dd><%= @beverage.is_alcoholic %></dd>
    <dt><%= Beverage.human_attribute_name(:status) %>:</dt>
    <dd><%= I18n.translate(@beverage.status) %></dd>
</dl>
    <p><%= @beverage.calories %> kcal</p>

<% if @beverage.active? %>
  <%= button_to 'Desativar Bebida', inactive_beverage_path %>
<% else %>
  <%= button_to 'Ativar Bebida', active_beverage_path %>
<% end %>

<% @beverage.portions.each do |portion| %>
  <dl>
    <dt>Descrição:</dt>
    <dd><%= link_to portion.description, edit_beverage_portion_path(@beverage, portion) %></dd>
    <dt>Preço:</dt>
    <dd><%= number_to_currency((portion.price)/100.0) %></dd>
  </dl>
<% end %>

<%= link_to 'Adicionar Porções', new_beverage_portion_path(@beverage) %>
<%= link_to 'Editar', edit_beverage_path(@beverage) %>
<%= link_to 'Deletar', beverage_path(@beverage), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>