<h2>Bebida: <%= @beverage.name %></h2>
<dl>
    <dt>Descrição:</dt>
    <dd><%= @beverage.description %></dd>
    <dt>É alcoólica?</dt>
    <dd><%= @beverage.is_alcoholic %></dd>
</dl>
    <p><%= @beverage.calories %> kcal</p>

<%= link_to 'Editar', edit_beverage_path(@beverage) %>
<%= link_to 'Deletar', beverage_path(@beverage), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>