<h2>Cardápio: <%= @menu.name%></h2>

<%= link_to 'Adicionar Itens', new_menu_menu_item_path(@menu.id) %>

<% if @dishes.any? %>
  <% @dishes.each do |dish| %>
    <p><%= dish.name %></p>

    <% if dish.portions.any? %>
      <h3>Porções:</h3>
      <% dish.portions.each do |portion| %>
        <p><%= portion.description %></p>
        <p>Preço: <%= number_to_currency(portion.price/100.0) %></p>
      <% end %>
    <% end %>

  <% end %>
<% else %>
  <p>Não há pratos cadastrados</p>
<% end %>

<% if @beverages.any? %>
  <% @beverages.each do |beverage| %>
    <p><%= beverage.name %></p>

    <% if beverage.portions.any? %>
      <h3>Porções:</h3>
      <% beverage.portions.each do |portion| %>
        <p><%= portion.description %></p>
        <p>Preço: <%= number_to_currency(portion.price/100.0) %></p>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <p>Não há bebidas cadastradas</p>
<% end %>
