<h2>Nova Característica</h2>

<% if(@trait.errors.any?) %>
  <p>Verifique os erros abaixo:</p>
  <ul>
  <% @trait.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
    
  </ul>
<% end %>

<%= form_with model: @trait do |form| %>
  <%= form.label :name, 'Nome' %>
  <%= form.text_field :name %>

  <%= form.submit 'Salvar' %>
<% end %>