<h2>Pedido: <%= @order.code %></h2>
<p><%= Order.human_attribute_name(:status) %>: <%= I18n.translate(@order.status) %></p>
<p>Dados do cliente:</p>
<dl>
  <dt>Nome:</dt> 
  <dd><%= @order.name %></dd>
  <dt>Telefone:</dt>
  <dd><%= @order.phone %></dd>
  <dt>Email:</dt>
  <dd><%= @order.email %></dd>
  <dt>CPF:</dt>
  <dd><%= @order.cpf %></dd>
</dl>

<h3>Itens do Pedido</h3>
<ul>
  <% @order.order_items.each do |item| %>
    <li>
      <% if item.portion.dish.present? %>
        <%= item.portion.dish.name %> - 
      <% elsif item.portion.beverage.present? %>
        <%= item.portion.beverage.name %> - 
      <% end %>
      <%= item.portion.description %> - <%= number_to_currency(item.portion.price / 100.0) %>
      <% if item.note.present? %>
        <p>Observação: <%= item.note %></p>
      <% end %>
    </li>
  <% end %>
</ul>

<p>Valor Total: <%= number_to_currency(@order.price) %></p>