<% if(dish.errors.any?) %>
  <p>Verifique os erros abaixo:</p>
  <ul>
  <% dish.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
    
  </ul>
<% end %>


<%= form_with model: dish do |form| %>
  <div>
    <%= form.label :name, "Nome" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :description, "Descrição" %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :calories, "Calorias" %>
    <%= form.number_field :calories %>
  </div>
  <div>
    <%= form.label :trait_id, 'Tipo' %><br>
    <%= form.collection_select :trait_id, @traits, :id, :name %>
  </div>
  <div>
    <%= form.submit "Enviar" %>
  </div>
<% end %>