<h2>Detalhes do Prato: <%= @dish.name %></h2>
<dl>
    <dt><%= Dish.human_attribute_name(:description)%>:</dt>
    <dd><%= @dish.description %></dd>
    <dt><%= Dish.human_attribute_name(:status) %>:</dt>
    <dd><%= I18n.t(@dish.status) %></dd>
</dl>
  <% if @dish.calories %>
    <p><%= @dish.calories %> kcal</p>
  <% end %>

<% if @dish.photo.attached? %>
  <div>
    <%= image_tag @dish.photo, alt: "Foto do Prato" %>
  </div>
<% end %>

<% if @dish.active? %>
  <%= button_to 'Desativar Prato', inactive_dish_path %>
<% else %>
  <%= button_to 'Ativar Prato', active_dish_path %>
<% end %>

<% @dish.portions.each do |portion| %>
  <dl>
    <dt>Descrição:</dt>
    <dd><%= link_to portion.description, edit_dish_portion_path(@dish, portion) %></dd>
    <dt>Preço:</dt>
    <dd><%= number_to_currency(portion.price) %></dd>
  </dl>
<% end %>

<% @dish.traits.each do |trait| %>
  <dl>
    <dt>Tipo:</dt>
    <dd><%= trait.name %></dd>
  </dl>
<% end %>

<%= link_to 'Adicionar Porções', new_dish_portion_path(@dish) %>
<%= link_to 'Editar', edit_dish_path(@dish) %>
<%= link_to 'Deletar', dish_path(@dish), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<%= link_to 'Voltar para listagem de pratos', dishes_path %>