<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Paleva" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header class="bg-gray-800 text-white p-4">  
      <div class="container mx-auto flex justify-between items-center">
        <%= link_to root_path, class: "text-2xl font-bold" do %>
          <h1>Páleva</h1>
        <% end %>
        <nav>
          <ul class="flex space-x-4">
            <% if user_signed_in? || employee_signed_in? %>
              <li><%= link_to "Registrar Estabelecimento", new_store_path %></li>
              <li><%= link_to "Meus pratos", dishes_path %></li>
              <li><%= link_to "Minhas Bebidas", beverages_path %></li>
              <li><%= link_to 'Características', traits_path %></li>
              <li><%= link_to 'Meus Cardápios', menus_path %></li>
              <li><%= link_to 'Meus Pedidos', orders_path %></li>
              
              <li>
                <%= form_with(url: search_path, method: :get, class: "flex items-center space-x-2") do |form| %>
                  <%= form.label :query, 'Buscar item', class: "sr-only" %>
                  <%= form.text_field :query, class: "px-2 py-1 rounded bg-gray-700 text-white" %>
                  <%= form.submit 'Buscar', class: "px-3 py-1 bg-blue-500 rounded hover:bg-blue-600" %>
                <% end %>
              </li>

              <li><%= button_to 'Sair', destroy_user_session_path, method: :delete %></li>
              <% if user_signed_in? %>
                <li><%= link_to "Registrar Pratos", new_dish_path %></li>
                <li><%= link_to "Registrar Bebidas", new_beverage_path %></li>
                <li><%= link_to 'Meus funcionários', pre_registered_employees_path %></li>
                <li><%= current_user.name %></li>
              <% elsif employee_signed_in? %>
                <li><%= current_employee.name %></li>
              <% end %>     
            <% else %>
              <li><%= link_to 'Entrar', new_user_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <main class="container mx-auto mt-28 px-5 block">
      <%= notice %>
      <%= alert %>
      <%= yield %>
    </main>
  </body>
</html>
