<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Paleva" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <h1>Páleva</h1>
      <% end %>
      <nav>
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to "Registrar Estabelecimento", new_store_path %></li>
            <li><%= link_to "Registrar Pratos", new_dish_path %></li>
            <li><%= link_to "Registrar Bebidas", new_beverage_path %></li>
            <li><%= link_to "Meus pratos", dishes_path %></li>
            <li><%= link_to "Minhas Bebidas", beverages_path %></li>
            <li><%= button_to 'Sair', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Entrar', new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= notice %>
      <%= alert %>
      <%= yield %>
    </main>
  </body>
</html>
